html {
  scroll-behavior: smooth;
}

.skill-icon {
  height: 50px;
  width: 50px;
}

.skill-text {
  max-width: 50px;
  word-wrap: "wrap";
}

.ms-badge {
  background: #6f42c1;
}

.linkedin-link {
  text-decoration: none;
  height: 38px;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.linkedin-icon {
  padding: 10px;
}

.project-video {
  min-height: 400px;
}

.project-img {
  min-height: 200px;
  max-height: 400px;
  /* width: auto; */
  margin: auto;
}
